
body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;

}
h2{
	text-align: center;
}
.mydiv1 {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 25rem;
	margin: 0;
	padding: 2.5rem;
	background-color: white ;
	border-radius: 25px;
	
	
}
		
		
	